/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f1f3f6;
  color: #1e293b;
}

.neosoft-snackbar-error {
  --mdc-snackbar-container-color: #b3261e;
  --mat-snack-bar-button-color: #ffffff;
}
