<aside class="sidebar" [class.sidebar--collapsed]="collapsed">
  <div class="sidebar__top">
    <span class="sidebar__brand" [class.sidebar__brand--hidden]="collapsed">Neosoft</span>
    <button mat-icon-button type="button" (click)="toggle()" aria-label="Contraer sidebar">
      <mat-icon>{{ collapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </div>

  <nav class="sidebar__nav">
    <a
      mat-button
      class="sidebar__link"
      routerLink="/users"
      routerLinkActive="sidebar__link--active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>group</mat-icon>
      <span [class.sidebar__label--hidden]="collapsed">Usuarios</span>
    </a>
    <a mat-button class="sidebar__link" routerLink="/variables" routerLinkActive="sidebar__link--active">
      <mat-icon>tune</mat-icon>
      <span [class.sidebar__label--hidden]="collapsed">Variables</span>
    </a>
    <a mat-button class="sidebar__link" routerLink="/roles" routerLinkActive="sidebar__link--active">
      <mat-icon>security</mat-icon>
      <span [class.sidebar__label--hidden]="collapsed">Roles</span>
    </a>
  </nav>
</aside>
